{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
    <meta charset="utf-8">
    <head>
        <title>Currículo - Davi Massarelli</title>
        <meta name="author" content="Davi">
        <meta lang="pt-br">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="cache-control" content="no-cache">
        <meta http-equiv="x-content-type-options" content="text/javascript; charset=utf-8">
        <meta name="description" content="Currículo Davi Massarelli">
        <meta name="keywords" content="currículo, Davi, Massarelli, Analista, Contratos">
        <link rel="stylesheet" href="{% static 'cv_davi/estilos.css' %}">
    </head>
    <body>
        <div class="folha">
            <header class="header"> <!-- S1 (nome, objetivo)-->
                <div class="S1_esq"> <!-- S1 Esquerda -->
                    <h2 class="titulo">Curriculum Vitae</h2>
                    <h1>Davi <br/> Augusto <br/> Guedes <br/> Massarelli</h1>
                </div>
                <div class="S1_dir"> <!-- S1 Direita -->
                    <h3>Objetivo</h3>
                    <p>Advogado com experiência em administração e elaboração de contratos 
                        em empresa de grande porte. Desejo atuar para empresas ou escritórios, 
                        colocando em prática meus conhecimentos educacionais e profissionais. 
                        Pretendo, por fim, contribuir com o crescimento da companhia e atingir 
                        minhas metas profissionais e pessoais.
                    </p>
                    <p>OAB ativa nº 424.783.</p>
                    <p class="ita_neg">Brasileiro, 26 anos, Solteiro</p>
                </div>
            </header>
            <article class="article"> <!-- S2 (contato, endereço, experiência)-->
                <div class="S2_esq"> <!-- S2 Esquerda -->
                    <h3>Contato e Endereço</h3>
                    <p>Canto do Forte<br/> 
                        Praia Grande - SP<br/> 
                        CEP: xxxxx-xxx
                    </p>
                    <p class="ita">Disponibilidade de mudança de endereço</p>
                    <p class="neg">davimassarelli@hotmail.com</p>
                    <a class="neg_link" href="https://www.linkedin.com/in/davimassarelli">linkedin.com/in/davimassarelli</a> <br/>
                    <a class="neg_link" href="https://www.github.com/davimassarelli">github.com/davimassarelli</a>
                </div>
                <div class="S2_dir"> <!-- S2 Direita -->
                    <h3>Experiência</h3>

                    <p class="sem_espac">Junho de 2019 – Setembro de 2020</p>
                    <h4 class="sem_espac">Analista de Contratos <span class="ita"> SOC - Software Integrado de Gestão Ocupacional</span></h4>
                    <p class="espac">Análise contratual para fornecimento de serviços digitais e adequação dos termos. <br/>
                        Negociação e aprovação de cláusulas, aditivos e renovações contratuais. <br/>
                        Gestão de contratos. (aquisição, renovação e aditivos) <br/>
                        Gestão de carteira de clientes ativos. (regularização de cadastros) <br/>
                        Elaboração de pareceres para atualização da diretoria da empresa. <br/>
                    </p>

                    <p class="sem_espac">Março de 2016 – Março de 2018</p>
                    <h4 class="sem_espac">Estagiário <span class="ita"> Ministério Público do Estado de São Paulo</span></h4>
                    <p class="espac">Elaboração de peças e pareceres, pesquisa jurisprudencial e análise de processos. <br/>
                        Aplicação ativa de conhecimentos adquiridos no curso de Direito. <br/>
                        Atuação junto à promotoria de Praia Grande. <br/>
                    </p>

                    <p class="sem_espac">Março de 2015 – Junho de 2015</p>
                    <h4 class="sem_espac">Aspirante à Oficial <span class="ita"> Exército Brasileiro</span></h4>
                    <p class="espac">Treinamento e comando de soldados recém-admitidos. <br/>
                        Realização de sindicâncias para regularização de procedimentos internos. <br/>
                        Atuação em missões de campo voltadas ao fortalecimento físico e mental. <br/>
                    </p>
                </div>
            </article>
            <footer class="footer"> <!-- S3 (Formação, complementares)-->
                <div class="S3_esq"> <!-- S3 Esquerda -->
                    <h3>Formação</h3>

                    <p class="curso">Especialização Direito Digital</p>
                    <p class="sem_espac">Dezembro de 2020 – Concluído</p>
                    <p class="facul">Faculdade CERS</p>

                    <p class="curso">Direito</p>
                    <p class="sem_espac">Dezembro de 2018 – Concluído</p>
                    <p class="facul">Universidade Católica de Santos</p>

                    <p class="curso">Engenharia da Computação</p>
                    <p class="sem_espac">Dezembro de 2024 – Em curso (2º ano)</p>
                    <p class="facul">Universidade Virtual do Estado de São Paulo</p>
                </div>
                <div class="S3_dir"> <!-- S3 Direita -->
                    <div class="S3_d_cima"> <!-- S3 D Cima-->
                        <div class="S3_d_c_esq"> <!-- S3 D C Esquerda -->
                            <h3>Ferramentas</h3>
                            <ul class="lista">
                                <li>Pacote Office</li>
                                <li>Word – Avançado</li>
                                <li>PowerPoint – Avançado</li>
                                <li>Excel – Intermediário</li>
                                <li>Python – Básico</li>
                                <li>HTML e CSS – Básico</li>
                                <li>Django – Básico</li>
                            </ul>
                        </div>
                        <div class="S3_d_c_dir"> <!-- S3 D C Direita -->
                            <h3>Idiomas</h3>
                            <ul class="lista">
                                <li>Inglês – Intermediário</li>
                            </ul>
                        </div>
                    </div>
                    <div class="S3_d_baixo"> <!-- S3 D Baixo-->
                        <h3>Cursos complementares</h3>
                        <p class="sem_espac">Contratos: Negociações Preliminares, FGV – 2019</p>
                        <p class="sem_espac">Introdução à LGPD, Enap – 2019</p>
                        <p class="sem_espac">Formação Inicial de Profissionais de Privacidade – TiExames – 2020</p>
                    </div>
                </div>
            </footer>
        </div>
    </body>
</html>